{% extends "layout.html" %}

{% block pageTitle %}
UMD Caseworking Prototypes
{% endblock %}

{% block content %}

<!---Header title--->

<h1 class="govuk-heading-xl">Check biographic details</h1>


<!---Styles--->

<style>
  .app-task-list__task-completed {
    float: none;
  }

  .photo.medium.doubleWidth {
    width: 540px;
    height: 360px;
  }

  .photo.medium {
    background-size: cover;
  }

  .photo {
    border: 10px solid #ffffff;
    margin-bottom: 3em;
    box-shadow: 0px 2px 6px 2px #bfc1c3;
    background-repeat: no-repeat;
  }
</style>


<!---Content--->

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-m">Submitted on 01/05/2019</span>
      <h2 class="govuk-heading-m">Submitted identity document</h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="photoContainer" id="newPhotoContainer">
        <div class="photoContainer--frame">
          <img src="/public/images/stage-2-passport.jpeg" class="photo idDocument medium doubleWidth">
        </div>
      </div>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class"></th>
            <th scope="col" class="govuk-table__header app-custom-class">Submitted biographic details</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Given names</th>
            <td class="govuk-table__cell">Federica</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Surname</th>
            <td class="govuk-table__cell">Rossini Del Monte Piu Lungo Di Quaranta</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">08/12/1968</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Nationality</th>
            <td class="govuk-table__cell">Italian</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Automated biographic check</th>
            <td class="govuk-table__cell">
              <strong class="govuk-tag app-task-list__task-completed" id="biographic-check-completed">Successful</strong>
            </td>
          </tr>
        </tbody>
      </table>

      <form class="form" action="/biographic-match-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="biographic-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
                Do the biographics match?
              </h3>
            </legend>
            <span id="biographic-hint" class="govuk-hint">
              Check that the given name, surname, date of birth and nationality are the same as those shown on the identity document.
            </span>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="biographic-hint">

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="biographic-match" name="biographic-match" type="radio" value="yes" data-aria-controls="conditional-biographic-match-conditional">
                    <label class="govuk-label govuk-radios__label" for="biographic-match-conditional">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__input" id="conditional-biographic-match-conditional">
                    <div class="govuk-form-group">

                    </div>

                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="how-biographic-match-2" name="biographic-match" type="radio" value="no" data-aria-controls="conditional-biographic-match-conditional-2">
                    <label class="govuk-label govuk-radios__label" for="biographic-match-conditional-2">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-biographic-match-conditional-2">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="no">
                        Make a personal reminder why (optional)
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="no" name="no" type="text">
                    </div>
                  </div>


                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="biographic-match-conditional-3" name="biographic-match" type="radio" value="theres-a-small-difference" data-aria-controls="conditional-biographic-match-conditional-3">
                  <label class="govuk-label govuk-radios__label" for="biographic-match-3">
                    There's a small difference
                    <span id="biographic-match-3-hint" class="govuk-hint govuk-radios_hint">
                      You can edit the personal details if you think the user has made a genuine error (for example, a spelling mistake)
                    </span>
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-biographic-match-conditional-3">
                  <div class="govuk-form-group">
                    <input class="govuk-input govuk-!-width-one-third" id="biographic-match-3" name="biographic-match-3" type="text">
                  </div>
                </div>
            </div>
          </fieldset>
        </div>


        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>

    </div>
  </div>


  {% endblock %}
