{% extends "layout.html" %}

{% block pageTitle %}
UMD Caseworking Prototypes
{% endblock %}

{% block content %}

<!---Header title--->

<div class="govuk-width-container">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">Check identity document details</h1>
</div></div>

<!---Styles--->

<style>
.app-task-list__task-completed {
    float: none;
  }

.govuk-list--bullet {
  padding-left: 20px;
}

</style>


<!---Content--->


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Submitted on 10/05/2019</span>
      <h2 class="govuk-heading-l">Submitted identity document</h2>


      <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class"></th>
      <th scope="col" class="govuk-table__header app-custom-class">Existing document details</th>
      <th scope="col" class="govuk-table__header app-custom-class">Submitted document details</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Document number</th>
      <td class="govuk-table__cell">A12345678</td>
      <td class="govuk-table__cell">A12345678</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Document expiry date</th>
      <td class="govuk-table__cell">07/10/2015</td>
      <td class="govuk-table__cell">07/10/2015</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Document type</th>
      <td class="govuk-table__cell">Biometric residence card</td>
      <td class="govuk-table__cell">Biometric residence card</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Document issuer</th>
      <td class="govuk-table__cell">Germany</td>
      <td class="govuk-table__cell">Germany</td>
    </tr>
  </tbody>
</table>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="biographic-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">
              Does the document pass both of these checks?
            </h3>
          </legend>

          <div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds-from-desktop">
            <ul class="govuk-list govuk-list--bullet">
    <li>the submitted document details match the identity document photo</li>
    <li>the document issuer is the same on the existing and submitted document</li></ul>
</div></div>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="biographic-match" name="biographic-match" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="biographic-match">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="biographic-match-2" name="biographic-match" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="biographic-match-2">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="biographic-match-3" name="biographic-match" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="biographic-match-3">
                There's a small difference
                <span id="biographic-match-3-hint" class="govuk-hint govuk-radios_hint">
                  The personal details can be edited by another caseworker if you think the user has made a genuine error (for example, a spelling mistake)
                </span>
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </div>
  </div>

  {% endblock %}
