{% extends "layout.html" %}

{% block pageTitle %}
UMD Caseworking Prototypes
{% endblock %}

{% block content %}

<!---Header title--->

<span class="govuk-caption-xl">EUS-1234-5678-9012-3456</span>
<h1 class="govuk-heading-xl">Review and submit decision</h1>

<!---Styles--->

<style>
  .govuk-tag_successful {
    background-color: #2c673d;
    float: none;
  }

  ul.app-task-list__items {
    padding: 0px 0px 0px 0px;
  }
</style>


<!---Content--->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <ol class="app-task-list">
      <!-- <li>
        <h2 class="app-task-list__section">
          Automated checks which have been completed
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Biographic
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="biographic-check-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Chip
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="chip-read-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Facial match
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="facial-match-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Liveness
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="liveness-check-completed">Completed</strong>
          </li>
        </ul>
      </li> -->

      <li>
        <h2 class="app-task-list__section">
          Checks you've completed
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/version9/stage2/biographics-check" aria-describedby="biographic-check2-completed">
                Biographic
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="biographic-check2-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/version9/stage2/document-check" aria-describedby="identity-document-completed">
                Identity document
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="identity-document-completed">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/version9/stage2/check-photo" aria-describedby="photo-check-completed">
                Photo
              </a>
            </span>
            <strong class="govuk-tag app-task-list__task-completed" id="photo-check-completed">Completed</strong>
          </li>
        </ul>
      </li>
    </ol>

    <h2 class="govuk-heading-m">Your notes</h2>
    <p class="govuk-body">The document is expired</p><br>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"></hr><br><br>




        <form class="form" action="/92-request-decision-answer" method="post">

          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
                Should the customer's request be accepted?
              </h3>
            </legend>
            <span id="request-decision-hint" class="govuk-hint">
              Your decision must take into account your earlier check outcomes
            </span>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="request-decision-conditional-hint">

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="92-request-decision-conditional" name="92-request-decision" type="radio" value="yes" data-aria-controls="conditional-92-request-decision-conditional">
                    <label class="govuk-label govuk-radios__label" for="92-request-decision-conditional">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__input" id="conditional-92-request-decision-conditional">
                    <div class="govuk-form-group">

                    </div>

                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="92-request-decision-conditional-2" name="92-request-decision" type="radio" value="no" data-aria-controls="conditional-92-request-decision-conditional-2">
                    <label class="govuk-label govuk-radios__label" for="92-request-decision-conditional-2">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-92-request-decision-conditional-2">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="no">
                        Add a casenote as to the reason for rejection
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="no-casenote" name="no-casenote" type="text">
                    </div>

                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="92-request-decision-conditional-3" name="92-request-decision" type="radio" value="refer" data-aria-controls="conditional-92-request-decision-conditional-3">
                    <label class="govuk-label govuk-radios__label" for="92-request-decision-conditional-3">
                      Refer to supervisor
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-92-request-decision-conditional-3">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="refer">
                        Add a casenote about the reason for referral
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="refer-casenote" name="refer-casenote" type="text">
                    </div>

                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <button class="govuk-button" data-module="govuk-button">
                  Submit
                </button>

              </div>
            </div>

            {% endblock %}
