{% extends "layout.html" %}

{% block pageTitle %}
  UMD Caseworking Prototypes
{% endblock %}

{% block content %}

<!---Header title--->


<!---Styles--->

<style>

  .panel-border-wide.alert-default {
    border-color: #2b8cc4;
    background-color: #dbeff9;
  }

  .panel-border-wide {
    border-left-width: 10px;
  }

 ul.app-task-list__items {
  padding-left: 0px;
}

h2.govuk-heading-s   {
    font-size: 22px;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
  }

address.customer--address {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    font-style: normal;
    margin-bottom: 1em;
}

.pagination__summary {
  float: right;
  font-family: "nta", Arial, sans-serif;
  padding: 8px;
}

.pagination__link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

.pagination__item {
  display: inline-block;
  list-style: none;
}

.pagination {
  padding: 0px;
}

.pagination__link.current {
  color: #0B0C0C;
  font-weight: 700;
  border: none;
}

.panel-border-wide.alert-success {
  border-color: #28a197;
  background-color: #c6ece9;
}

.panel-border-wide {
  border-left-width: 10px;
}

.panel {
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  padding: 0.2em 0.7em;
  margin-bottom: 30px;
  padding-top: 3.2px;
  padding-bottom: 3.2px;
  padding-left: 11.2px;
  padding-right: 11.2px;
  text-size-adjust: 100%;
}

.govuk-main-wrapper {
  padding-top: 0px;
}

.govuk-main-wrapper {
  padding-top: 0px;
}

.filter{
  background-color: #f8f8f8;
  padding: 20px;
  margin: 2em 0;
}

.govuk-grid-column-full {
  width: 100%;
  float: left;
}

.govuk-grid-column-full{
  box-sizing: border-box;
}


</style>



<!---Content--->


      <div class="govuk-width-container">

        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">EUS-1234-5678-9012-3456</span>
    <h1 class="govuk-heading-xl">
      Review and submit decision
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="panel panel-border-wide alert-default">

        <section class="customer">
          <h2 class="govuk-heading-s">Customer's contact details</h2>
          <h3 class="govuk-heading-s govuk-!-font-weight-regular customer--name">Name: Maria Musterfrau</h3>
          <p class="govuk-body">Address:
              191 Victoria Street,
              Charing Cross,
              SW1E 4EA,
              United Kingdom
            </p>
            <ul class="govuk-list">
              <li>Telephone: <a class="govuk-link customer--telephone" href="tel:1-562-867-5309">020 8529 0192</a></li>
              <li>Email: <a class="govuk-link customer--email " href="mailto:1-562-867-5309">mariamusterfrau@gmail.com</a></li>
            </ul>
        </section>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <section>
          <h2 class="govuk-heading-s">Security questions</h2>
          <div id="comment-1" class="comment">
            <ul class="govuk-list">
              <li><p class="govuk-body">Mother’s maiden name: Castillo</p></li>
                <li><p class="govuk-body">Childhood best friend: Jennifer</p></li>
              <li><p class="govuk-body">Memorable word: Halloween</p></li>
          </div>


        <ul>

        </ul>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <ol class="app-task-list">
            <li>
              <h2 class="app-task-list__section">
                Automated checks
              </h2>
              <ul class="app-task-list__items">
                  <li class="app-task-list__item">
                      Chip
                    <strong class="govuk-tag govuk-tag--failed app-task-list__task-completed" id="eligibility-completed">Unsuccessful</strong>
                  </li>
                  <li class="app-task-list__item">
                        Facial match
                    <strong class="govuk-tag govuk-tag--passed app-task-list__task-completed" id="eligibility-completed">Successful</strong>
                  </li>
                  <li class="app-task-list__item">
                      Liveness profile
                    <strong class="govuk-tag govuk-tag--incomplete app-task-list__task-completed" id="eligibility-completed">Incomplete</strong>
                  </li>
                </ul>
            </li>
          </ol>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            Your checks
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="approving-identity-biographics-check" aria-describedby="eligibility-completed" style="width: 65%;">
                Biographic
              </a>
              <strong class="govuk-tag govuk-tag--passed app-task-list__task-completed" id="eligibility-completed">Successful</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="approving-identity-document-check" aria-describedby="read-declaration-completed" style="width: 65%;">
                Identity document
              </a>
              <strong class="govuk-tag govuk-tag--failed app-task-list__task-completed" id="eligibility-completed">Unsuccessful</strong>
            </li>
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="approving-identity-photo-check" aria-describedby="read-declaration-completed">
                Facial likeness
              </a>
              <strong class="govuk-tag govuk-tag--passed app-task-list__task-completed" id="eligibility-completed">Successful</strong>
            </li>
          </ul>
        </li>
      </ol>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional" name="how-contacted" type="radio" value="email" data-aria-controls="conditional-how-contacted-conditional">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional">
                Accept this case
              </label>
            </div>
            <div class="govuk-radios__input" id="conditional-how-contacted-conditional">
              <div class="govuk-form-group">

              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="phone" data-aria-controls="conditional-how-contacted-conditional-2">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
               Refer to supervisor
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-phone">
                  Give more detail (Optional)
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel">
              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="how-contacted-conditional-3" name="how-contacted" type="radio" value="text" data-aria-controls="conditional-how-contacted-conditional-3">
              <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-3">
                Contact customer for more information
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-3">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-text">
                  Phonecall outcome (Optional)
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel">
              </div>

            </div>
          </div>
        </fieldset>
      </div>



          <div class="govuk-form-group">
            <button type="submit" class="govuk-button govuk-!-margin-right-1">
              Submit
            </button>

          </div>

    </div>
  </div>
</main></div>




</body>

{% endblock %}
