{% extends "layout.html" %}

{% block pageTitle %}
UMD Caseworking Prototypes
{% endblock %}

{% block content %}

<!---Header title--->

<span class="govuk-caption-xl">EUS-1234-5678-9012-3456</span>
<h1 class="govuk-heading-xl">Submit casenote</h1>

<!---Styles--->

<style>
  .govuk-tag_successful {
    background-color: #2c673d;
    float: none;
  }

  ul.app-task-list__items {
    padding: 0px 0px 0px 0px;
  }


  .panel-border-wide.alert-default {
    border-color: #2b8cc4;
    background-color: #dbeff9;
  }

  .panel-border-wide {
    border-left-width: 10px;
  }

  ul.app-task-list__items {
    padding-left: 0px;
  }

  h2.govuk-heading-s {
    font-size: 22px;
    margin-bottom: 0.6em;
    margin-top: 0.6em;
  }

  address.customer--address {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    font-style: normal;
    margin-bottom: 1em;
  }


  .panel-border-wide.alert-success {
    border-color: #28a197;
    background-color: #c6ece9;
  }

  .panel-border-wide {
    border-left-width: 10px;
  }

  .panel {
    box-sizing: border-box;
    clear: both;
    border-left-style: solid;
    padding: 0.2em 0.7em;
    margin-bottom: 30px;
    padding-top: 3.2px;
    padding-bottom: 3.2px;
    padding-left: 11.2px;
    padding-right: 11.2px;
    text-size-adjust: 100%;
  }

  .govuk-main-wrapper {
    padding-top: 0px;
  }

  .govuk-main-wrapper {
    padding-top: 0px;
  }

  .filter {
    background-color: #f8f8f8;
    padding: 20px;
    margin: 2em 0;
  }

  .govuk-grid-column-full {
    width: 100%;
    float: left;
  }

  .govuk-grid-column-full {
    box-sizing: border-box;
  }
</style>


<!---Content--->

<main class="govuk-main-wrapper " id="main-content" role="main">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="panel panel-border-wide alert-default">
        <section class="customer">
          <h2 class="govuk-heading-s">Applicant’s contact details</h2>
          <h3 class="govuk-heading-s govuk-!-font-weight-regular customer--name">Name: Maria Musterfrau</h3>
          <ul class="govuk-list">
            <li>Telephone: 020 8529 0192</li>
            <li>Email: <a class="govuk-link customer--email " href="mailto:1-562-867-5309">mariamusterfrau@gmail.com</a></li>
          </ul>
        </section>
        <ul>

        </ul>
      </div>
    </div>
  </div>

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h3 class="govuk-fieldset__heading">
      Your notes
    </h3>
  </legend>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table" style="margin-bottom: 60px;">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" width="30%"></th>
            <th class="govuk-table__header" scope="col" width="70%"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row">Identity document</th>
            <td class="govuk-table__cell">4 number difference between MRZ OCR and chip code</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row">Phonecall outcome</th>
            <td class="govuk-table__cell">Customer has been asked to send in passport for checks due to differences in MRZ and chip codes. Customer agreed to post in before the end of the week</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__cell" scope="row">Hold decision</th>
            <td class="govuk-table__cell">On hold awaiting document</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="next-application--rejected">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h3 class="govuk-fieldset__heading">
              Update formal casenote
            </h3>
          </legend>
          <span id="submission-hint" class="govuk-hint">
            This will be viewed by other caseworkers
          </span>
          <div class="govuk-form-group">
            <textarea class="govuk-textarea" id="email-content" name="email-content" rows="10" aria-describedby="email-content-hint"></textarea>

          </div><br>


      <div class="govuk-form-group">
        <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
          Submit
        </button>

      </div>




    </div>
  </div>


</main>

{% endblock %}
