{% extends "layout.html" %}

{% block pageTitle %}
UMD Caseworking Prototypes
{% endblock %}

{% block content %}




<!---Header title--->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
    Emma McBride
      <br>
    <p class="govuk-body-l">
      Caseworking prototypes and personal development
    </p>

    <!---Styles--->

    <style>
      .panel {
        box-sizing: border-box;
        clear: both;
        border-left-style: solid;
        padding: 0.2em 0.7em;
        margin-bottom: 30px;
      }

      .panel_release {
        border-color: #ececec
      }

      .panel_work-in-progress {
        border-color: #ffc300
      }

      .panel_experimental {
        border-color: #05bbbd
      }

      .heading_title {
        color: #1d70b8
      }

      ul.app-task-list__items {
        padding: 0px 0px 0px 0px;
      }


      .panel-border-wide.alert-default-top {
        border-color: #2b8cc4;
        background-color: #F3DCFF;
      }

      .panel-border-wide {
        border-left-width: 10px;
      }

      ul.app-task-list__items {
        padding-left: 0px;
      }

      h2.govuk-heading-s {
        font-size: 22px;
        margin-bottom: 0.6em;
        margin-top: 0.6em;
      }

      address.customer--address {
        font-family: "nta", Arial, sans-serif;
        font-size: 19px;
        font-style: normal;
        margin-bottom: 1em;
      }


      .panel-border-wide.alert-success {
        border-color: #28a197;
        background-color: #c6ece9;
      }

      .panel-border-wide {
        border-left-width: 10px;
      }

      .panel-top {
        box-sizing: border-box;
        clear: both;
        padding: 0.2em 0.7em;
        margin-bottom: 30px;
        padding-top: 13.2px;
        padding-bottom: 13.2px;
        padding-left: 30.2px;
        padding-right: 30.2px;
        text-size-adjust: 100%;
      }

    </style>

<!---Apply--->

    <div>
          <span class="govuk-caption-m">WIP and experimental prototypes</span>
    <h1 class="govuk-heading-m">EUE Apply</h1>
    </div>

    <div>
      <details>
        <summary class="govuk-heading-m heading_title" role="button" aria-controls="details-content-7" aria-expanded="false">Experimental</summary>

        <div class="panel panel-border-narrow panel_experimental" id="experimental" aria-hidden="true">
          <h3 class="govuk-heading-m">Placeholder</h3>

          <!-- <h3 class="govuk-heading-s"><b>Management information - 21st November<b></h3>
            <p class="govuk-body-m">Action data collection management information<p>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show all pages
                  </span>
                </summary>
                <div class="govuk-details__text">
                <a class="govuk-link" href="/mi/figma-version3"><b>Figma mock-up</b> (initial ideas)</a>
        </details>

          <h3 class="govuk-heading-s"><b>Version 9(2) - 12th November<b></h3>
            <p class="govuk-body-m">Chip check & contact customer route changes prior to testing in Sheffield<p>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show all pages
                  </span>
                </summary>
                <div class="govuk-details__text">
                <a class="govuk-link" href="/version9/experimental/figma-version2"><b>Figma mock-up</b> (overview)</a>
                <h3 class="govuk-heading-s"><b><a class="govuk-link" href="/version9/chipcheck-131119/next-application">Chip check prototype</a><b></h3>
          </div>
        </details>

        <h3 class="govuk-heading-s"><b>Version 9(1) - 4th November<b></h3>
          <p class="govuk-body-m">Contact customer/case note ideas following testing in Liverpool<p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show all pages
                </span>
              </summary>
              <div class="govuk-details__text">
                <a class="govuk-link" href="/version9/experimental/figma-version1"><b>Figma mock-up</b> (overview)</a><br>
                <a class="govuk-link" href="/version9/experimental/review-and-submit">Review and submit</a><br>
                <a class="govuk-link" href="/version9/experimental/contact-customer">Contact customer</a><br>
                <a class="govuk-link" href="/version9/experimental/submit-casenote">Submit casenote</a>
        </div>
    </details>

    <h3 class="govuk-heading-s"><b>Components/patterns<b></h3>
      <p class="govuk-body-m">Coding testing for prototype functions<p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Show all pages
            </span>
          </summary>
          <div class="govuk-details__text">
            <a class="govuk-link" href="/version9/experimental/select-all">Task list: Select all</a><br>
    <a class="govuk-link" href="/version9/experimental/filter-option">Task list: Filter cases (broken)</a><br>
    <a class="govuk-link" href="/components/radio-tester">Radio hold type 'reveal' buttons</a><br>
    <a class="govuk-link" href="/components/success-tags">Success tags</a>
    </div>
    </details> -->

    </div>
    </div>
    <br>

    <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

<!---Caseworking--->

<div>
      <span class="govuk-caption-m">WIP and experimental prototypes</span>
<h1 class="govuk-heading-m">Identity and Authentication: Caseworking</h1>
</div>


<!---Experimental and future--->

    <div>
      <details>
        <summary class="govuk-heading-m heading_title" role="button" aria-controls="details-content-7" aria-expanded="false">Experimental</summary>

        <div class="panel panel-border-narrow panel_experimental" id="experimental" aria-hidden="true">
          <h3 class="govuk-heading-m">Experimental and future</h3>

          <h3 class="govuk-heading-s"><b>Management information - 21st November<b></h3>
            <p class="govuk-body-m">Action data collection management information<p>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show all pages
                  </span>
                </summary>
                <div class="govuk-details__text">
                <a class="govuk-link" href="/mi/figma-version3"><b>Figma mock-up</b> (initial ideas)</a>
        </details>

          <h3 class="govuk-heading-s"><b>Version 9(2) - 12th November<b></h3>
            <p class="govuk-body-m">Chip check & contact customer route changes prior to testing in Sheffield<p>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show all pages
                  </span>
                </summary>
                <div class="govuk-details__text">
                <a class="govuk-link" href="/version9/experimental/figma-version2"><b>Figma mock-up</b> (overview)</a>
                <h3 class="govuk-heading-s"><b><a class="govuk-link" href="/version9/chipcheck-131119/next-application">Chip check prototype</a><b></h3>
          </div>
        </details>

        <h3 class="govuk-heading-s"><b>Version 9(1) - 4th November<b></h3>
          <p class="govuk-body-m">Contact customer/case note ideas following testing in Liverpool<p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show all pages
                </span>
              </summary>
              <div class="govuk-details__text">
                <a class="govuk-link" href="/version9/experimental/figma-version1"><b>Figma mock-up</b> (overview)</a><br>
                <a class="govuk-link" href="/version9/experimental/review-and-submit">Review and submit</a><br>
                <a class="govuk-link" href="/version9/experimental/contact-customer">Contact customer</a><br>
                <a class="govuk-link" href="/version9/experimental/submit-casenote">Submit casenote</a>
        </div>
    </details>

    <h3 class="govuk-heading-s"><b>Components/patterns<b></h3>
      <p class="govuk-body-m">Coding testing for prototype functions<p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Show all pages
            </span>
          </summary>
          <div class="govuk-details__text">
            <a class="govuk-link" href="/version9/experimental/select-all">Task list: Select all</a><br>
    <a class="govuk-link" href="/version9/experimental/filter-option">Task list: Filter cases (broken)</a><br>
    <a class="govuk-link" href="/components/radio-tester">Radio hold type 'reveal' buttons</a><br>
    <a class="govuk-link" href="/components/success-tags">Success tags</a>
    </div>
    </details>

    </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <!---Version9--->

    <div>
      <details>
        <summary class="govuk-heading-m heading_title" role="button" aria-controls="details-content-9" aria-expanded="false">Version 9</summary>

        <!-- <div class="panel panel-border-narrow panel_release" id="details-content-8" aria-hidden="true">
          <h3 class="govuk-heading-m">Releases</h3>
          <p class="govuk-body-m">Stage 2: Document submission - <a class="govuk-link" href="#">See design release</a></p>
          <p class="govuk-body-m">Stage 5: Document submission - <a class="govuk-link" href="#">See design release</a></p>
        </div> -->

        <div class="panel panel-border-narrow panel_work-in-progress" id="details-content-9" aria-hidden="true">
          <h3 class="govuk-heading-m">Work in progress</h3>
          <h3 class="govuk-heading-m">Stage 2: Check and correct</h3>
          <h3 class="govuk-heading-s"><b><a class="govuk-link" href="/version9/stage2/next-application">ID Document check (web)</a><b></h3>
            <p class="govuk-body-m">Example generic route for a caseworker processing an ID document update<p>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show all pages
              </span>
            </summary>
            <div class="govuk-details__text">
              <a class="govuk-link" href="/version9/stage2/next-application">Next application</a><br>
              <a class="govuk-link" href="/version9/stage2/biographics-check">Biographics check</a><br>
              <a class="govuk-link" href="/version9/stage2/biographics-check-edit">Biographics check (editable)</a><br>
              <a class="govuk-link" href="/version9/stage2/document-check">Document check</a><br>
              <a class="govuk-link" href="/version9/stage2/document-check-edit">Document check (editable)</a><br>
              <a class="govuk-link" href="/version9/stage2/check-photo">Photo check</a><br>
              <a class="govuk-link" href="/version9/stage2/review-and-submit">Review and submit to Cross Check Team (CCT)</a><br>
              <a class="govuk-link" href="/version9/stage2/notify-rejection">Notify user</a><br>
              <a class="govuk-link" href="/version9/stage2/submission-updated">Next application - updated case</a><br>
              <a class="govuk-link" href="/version9/stage2/submission-referred">Next application - referred case</a><br>
              <a class="govuk-link" href="/version9/stage2/submission-rejected">Next application - rejected case</a>
            </div>
          </details>


            <!-- <h3 class="govuk-heading-m">Work in progress</h3>
            <h3 class="govuk-heading-m">Stage 2: Chip check</h3> -->
            <h3 class="govuk-heading-s"><b><a class="govuk-link" href="/version9/chipcheck/next-application">Chip check exception (app)</a><b></h3>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show all pages
                </span>
              </summary>
              <div class="govuk-details__text">
                <a class="govuk-link" href="/version9/chipcheck/next-application">Next application</a><br>
                <a class="govuk-link" href="/version9/chipcheck/biographics-check">Biographics check w/ casenotes</a><br>
                <a class="govuk-link" href="/version9/chipcheck/biographics-check-edit">Biographics check (editable)</a><br>
                <a class="govuk-link" href="/version9/chipcheck/document-check">Document check w/ casenotes</a><br>
                <a class="govuk-link" href="/version9/chipcheck/facial-likeness">Facial likeness w/ casenotes</a><br>
                <a class="govuk-link" href="/version9/chipcheck/review-and-submit">Review and submit to Cross Check Team (CCT)</a><br>
                <a class="govuk-link" href="/version9/chipcheck/contact-customer">Ask for more information</a><br>
                <a class="govuk-link" href="/version9/chipcheck/notify-rejection">Notify user (rejection)</a><br>
                <a class="govuk-link" href="/version9/chipcheck/submission-updated">Next application - updated case</a><br>
                <a class="govuk-link" href="/version9/chipcheck/submission-referred">Next application - referred case</a><br>
                <a class="govuk-link" href="/version9/chipcheck/submission-rejected">Next application - rejected case</a>
              </div>
            </details>

          <h3 class="govuk-heading-m">Stage 5: Update my details/Approve identity</h3>
          <h3 class="govuk-heading-s"><b><a class="govuk-link" href="/version9/stage5/next-application">ID Document update</a><b></h3>
            <p class="govuk-body-m">Example 1:1 route for a caseworker processing a 'UMD' request following PCI & WICU checks by the CCT & RIS<p>

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show all pages
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <a class="govuk-link" href="/version9/stage5/next-application">Next application</a><br>
                  <a class="govuk-link" href="/version9/stage5/cross-check-fail">Cross check fail</a><br>
                  <a class="govuk-link" href="/version9/stage5/biographics-check">Biographics check</a><br>
                  <a class="govuk-link" href="/version9/stage5/document-check">Document check</a><br>
                  <a class="govuk-link" href="/version9/stage5/check-photo">Check photo submission</a><br>
                  <a class="govuk-link" href="/version9/stage5/review-and-submit">Review and submit</a><br>
                  <a class="govuk-link" href="/version9/stage5/application-updated">Next application - updated case</a><br>
                  <a class="govuk-link" href="/version9/stage5/application-referred">Next application - referred case</a><br>
                  <a class="govuk-link" href="/version9/stage5/application-rejected">Next application - rejected case</a><br>
                  <a class="govuk-link" href="/version9/stage5/notify-rejection">Notify user</a>
                </div>
              </details>

          <h3 class="govuk-heading-m">Superuser</h3>
          <h3 class="govuk-heading-s"><b><a class="govuk-link" href="/version9/superuser/task-list">Caseworking: Supervisor</a><b></h3>
            <p class="govuk-body-m">Example route for a caseworking supervisor<p>

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show all pages
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <a class="govuk-link" href="/version9/superuser/task-list">Supervisor task list</a><br>
                  <a class="govuk-link" href="/version9/superuser/task-list-hold">Supervisor 'on hold' task list</a><br>
                  <a class="govuk-link" href="/version9/superuser/review-and-submit">Review and submit</a><br>
                  <a class="govuk-link" href="/version9/superuser/case-notes">Case notes tab</a><br>
                  <a class="govuk-link" href="/version9/superuser/biographics-check">Biographics check</a><br>
                  <!-- <a class="govuk-link" href="/version9/superuser/document-check">Document check</a><br>
                  <a class="govuk-link" href="/version9/superuser/check-photo">Check photo submission</a><br> -->
                  <a class="govuk-link" href="/version9/superuser/notify-rejection">Notify user</a><br>
                  <a class="govuk-link" href="/version9/superuser/task-list-updated">Supervisor task list - updated</a><br>
                </div>
              </details>

              <h3 class="govuk-heading-s"><b><a class="govuk-link" href="/version8/superuser/task-list">Standard Supervisor</a><b></h3>
                <p class="govuk-body-m">Example route for a standard supervisor - after Stage 2 'Check and correct' and Stage 5<p>

                  <h3 class="govuk-heading-s"><b><a class="govuk-link" href="/version9/superuser/task-list">Enhanced Supervisor</a><b></h3>
                    <p class="govuk-body-m">Example route for an enhanced supervisor - <b>currently</b> after Stage 2 'Chip check exceptions'<p>
</div>

        <div class="panel panel-border-narrow panel_experimental" id="details-content-9" aria-hidden="true">
          <h3 class="govuk-heading-m">Experimental</h3>

          <h3 class="govuk-heading-s"><b>Version 9(2) - 12th November<b></h3>
            <p class="govuk-body-m">Chip check & contact customer route changes prior to testing in Sheffield<p>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show all pages
                  </span>
                </summary>
                <div class="govuk-details__text">
                <a class="govuk-link" href="/version9/experimental/figma-version2"><b>Figma mock-up</b> (overview)</a>
                <h3 class="govuk-heading-s"><b><a class="govuk-link" href="/version9/chipcheck-131119/next-application">Chip check prototype</a><b></h3>
          </div>
        </details>

          <h3 class="govuk-heading-s"><b>Version 9(1) - 4th November<b></h3>
            <p class="govuk-body-m">Contact customer/case note ideas following testing in Liverpool<p>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Show all pages
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <a class="govuk-link" href="/version9/experimental/figma-version1"><b>Figma mock-up</b> (overview)</a><br>
                  <a class="govuk-link" href="/version9/experimental/review-and-submit">Review and submit</a><br>
                  <a class="govuk-link" href="/version9/experimental/contact-customer">Contact customer</a><br>
                  <a class="govuk-link" href="/version9/experimental/submit-casenote">Submit casenote</a>
          </div>
      </details>

      <h3 class="govuk-heading-s"><b>Components/patterns<b></h3>
        <p class="govuk-body-m">Coding testing for prototype functions<p>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show all pages
              </span>
            </summary>
            <div class="govuk-details__text">
              <a class="govuk-link" href="/version9/experimental/select-all">Task list: Select all</a><br>
      <a class="govuk-link" href="/version9/experimental/filter-option">Task list: Filter cases (broken)</a><br>
      <a class="govuk-link" href="/components/radio-tester">Radio hold type 'reveal' buttons</a><br>
      <a class="govuk-link" href="/components/success-tags">Success tags</a>
      </div>
  </details>

    </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <!---Version8--->

    <div>
      <details>
        <summary class="govuk-heading-m heading_title" role="button" aria-controls="details-content-8" aria-expanded="false">Version 8</summary>

        <div class="panel panel-border-narrow panel_work-in-progress" id="details-content-8" aria-hidden="true">
          <h3 class="govuk-heading-m">Work in progress</h3>
          <h3 class="govuk-heading-m">Stage 2: Check and correct (Web application)</h3>
          <h3 class="govuk-heading-s"><b><a class="govuk-link" href="/version8/stage2/next-application">ID Document check</a><b></h3>
            <p class="govuk-body-m">Example generic route for a caseworker processing an ID document update<p>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show all pages
              </span>
            </summary>
            <div class="govuk-details__text">
              <a class="govuk-link" href="/version8/stage2/next-application">Next application</a><br>
              <a class="govuk-link" href="/version8/stage2/biographics-check">Biographics check</a><br>
              <a class="govuk-link" href="/version8/stage2/biographics-check-edit">Biographics check (editable)</a><br>
              <a class="govuk-link" href="/version8/stage2/document-check">Document check</a><br>
              <a class="govuk-link" href="/version8/stage2/document-check-edit">Document check (editable)</a><br>
              <a class="govuk-link" href="/version8/stage2/check-photo">Photo check</a><br>
              <a class="govuk-link" href="/version8/stage2/review-and-submit">Review and submit to Cross Check Team (CCT)</a><br>
              <a class="govuk-link" href="/version8/stage2/notify-rejection">Notify user</a><br>
              <a class="govuk-link" href="/version8/stage2/submission-updated">Next application - updated case</a><br>
              <a class="govuk-link" href="/version8/stage2/submission-referred">Next application - referred case</a><br>
              <a class="govuk-link" href="/version8/stage2/submission-rejected">Next application - rejected case</a>
            </div>
          </details>

          <h3 class="govuk-heading-m">Stage 5: Update my details (Identity approval)</h3>
          <h3 class="govuk-heading-s"><b><a class="govuk-link" href="/version8/stage5/next-application">ID Document update</a><b></h3>
            <p class="govuk-body-m">Example 1:1 route for a caseworker processing a 'UMD' request following PCI & WICU checks by the CCT & RIS<p>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show all pages
              </span>
            </summary>
            <div class="govuk-details__text">
              <a class="govuk-link" href="/version8/stage5/next-application">Next application</a><br>
              <a class="govuk-link" href="/version8/stage5/cross-check-fail">Cross check fail</a><br>
              <a class="govuk-link" href="/version8/stage5/biographics-check">Biographics check</a><br>
              <a class="govuk-link" href="/version8/stage5/document-check">Document check</a><br>
              <a class="govuk-link" href="/version8/stage5/check-photo">Check photo submission</a><br>
              <a class="govuk-link" href="/version8/stage5/review-and-submit">Review and submit</a><br>
              <a class="govuk-link" href="/version8/stage5/application-updated">Next application - updated case</a><br>
              <a class="govuk-link" href="/version8/stage5/application-referred">Next application - referred case</a><br>
              <a class="govuk-link" href="/version8/stage5/application-rejected">Next application - rejected case</a><br>
              <a class="govuk-link" href="/version8/stage5/notify-rejection">Notify user</a>
            </div>
          </details>

          <h3 class="govuk-heading-m">Superuser</h3>
          <h3 class="govuk-heading-s"><b><a class="govuk-link" href="/version8/superuser/task-list">Caseworking: Supervisor</a><b></h3>
            <p class="govuk-body-m">Example route for a caseworking supervisor<p>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show all pages
              </span>
            </summary>
            <div class="govuk-details__text">
              <a class="govuk-link" href="/version8/superuser/task-list">Supervisor task list</a><br>
              <a class="govuk-link" href="/version8/superuser/review-and-submit">Review and submit</a><br>
              <a class="govuk-link" href="/version8/superuser/biographics-check">Biographics check</a><br>
              <a class="govuk-link" href="/version8/superuser/document-check">Document check</a><br>
              <a class="govuk-link" href="/version8/superuser/check-photo">Check photo submission</a><br>
              <a class="govuk-link" href="/version8/superuser/notify-rejection">Notify user</a><br>
              <a class="govuk-link" href="/version8/superuser/task-list-updated">Supervisor task list - updated</a><br>
            </div>
          </details>
        </div>

    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <!---Older--->

    <div>
      <details>
        <summary class="govuk-heading-m heading_title" role="button" aria-controls="details-content-7" aria-expanded="false">Previous Versions</summary>

        <div class="panel panel-border-narrow panel_release" id="details-content-7" aria-hidden="true">
          <h3 class="govuk-heading-m">Design releases</h3>
          <p class="govuk-body-m">For versions 1-7, and latest releases - <a class="govuk-link" href="https://update-my-details-atlas.herokuapp.com/">See Andrew's prototypes</a></p>
        </div>



</div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<br>
  <h1 class="govuk-heading-m">
  Internship Admin</h1>

<div>
  <details>
    <summary class="govuk-heading-m heading_title" role="button" aria-controls="details-content-7" aria-expanded="false">Personal Development</summary>

    <div class="panel panel-border-narrow panel_release" id="details-content-7" aria-hidden="true">
      <h3 class="govuk-heading-m">Development record and plan</h3>
      <ul class="govuk-list">
<li><a class="govuk-link" href="calendar">Daily record/learning plan</a></li>
<li><a class="govuk-link" href="journeymap">IDV/UMD user journey (ongoing)</a></li>
    </ul>
    </div>


</div>
</div>




{% endblock %}
