
{% extends "layout.html" %}

{% block pageTitle %}
  UMD Caseworking Prototypes
{% endblock %}

{% block content %}

<!---Header title--->


<!---Styles--->

<style>
a.next_application-next {
  background-color: #005ea5;
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
  text-decoration: underline;
  line-height: 1.111111;
  font-weight: 700;
  font-size: 36px !important;
  display: inline-block;
  margin-bottom: 15px;
  color: #fff;
}

.govuk-grid-row a:hover {background-color: #248bbf}

.panel-border-wide.alert-success {
  border-color: #28a197;
  background-color: #c6ece9;
}

.panel-border-wide{
  border-left-width: 10px;
}

.panel{
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  padding: 0.2em 0.7em;
  margin-bottom: 30px;
  padding-top: 3.2px;
  padding-bottom: 3.2px;
  padding-left: 11.2px;
  padding-right: 11.2px;
  text-size-adjust: 100%;
}

h2.govuk-heading-s{
  font-size: 22px;
  marigin-bottom: 0.6em;
  margin-top: 0.6em;
}

</style>


<!---Content--->


<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

    <div class="panel panel-border-wide alert-success">
    			<h2 class="govuk-heading-s">Customer's document change request - accepted</h2>
    			<p>Task 1234-5678-9012-3456 completed</p>
    		</div>

		<a class="next_application-next" href="version8/stage2/biographics-check">
			Next task
		</a>
	</div>
</div>



{% endblock %}
